/*CONTACT FORM*/

body {
	
	
	background-color: #2b2b2b;
	margin: 0px;
	padding: 0px;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	background-color: #2b2b2b;
	color: #fff;
	display: grid;
	grid-auto-columns: 700px auto;
	grid-auto-rows: auto 800px 100px;


}

	
	
}


/*
...
HEADER
...
*/


header {
	text-align: center;
	padding: ;
	grid-column: 1/3;
	grid-row: 1/2;

	background: ;
	background-size: 1500px;

}


header h1,
header p {

	margin-bottom: px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);

}

header h1 {

	margin-top: ;
}


/*Menu*/

nav * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
	position: fixed;
	z-index: 6;
	width: 100%;
	opacity: 0.8;
  display:flex;
  justify-content: space-between;
}
.nav {
  width: 70%;
  list-style: none;
}
.nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: Poppins;
   height: 50px;
}

.nav a:hover {
  background: #363636;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li {
  position: relative;
  width: 100%;
  text-align: center;
}

.nav li:hover .dropdown1 > li {
  display:block;
  top: 0;  
}

.dropdown1 li {
  display: none;
  position: relative;
}

.dropdown1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown2 li {
  display: none;
}

.dropdown1 li:hover  .dropdown2 li {
  display: block;
  top: 0;
}


.logo {
	
	margin: 10px;
}








/*left col info with photo */


.info {
	grid-row: 2/3;
	grid-column: 1/2;
	
}

.info {
	background-color: ;
	opacity: ;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0px;
	position: relative;
}



.info-img {
	opacity: 0.2;
	background-image: url(../img/p11.jpg);
	background-size: 700px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

}

 .text {
font-size: 10px;
	position: relative;
	text-align: center;
	 top: 100px

}
.text h1 {
	
	
	font-size: 50px;
}


/*
....
FORM
......
*/



.form-container {
	grid-row: 2/3;
	grid-column: 2/3;
	z-index: 5;
	max-width: 1000px;
	margin: 50px auto;
	padding: 50px;
	border-radius: px;
	background-color: ;
	box-shadow: ;
	color:#fff;

}

.field-block label, .field-block .field {
	display: block;
	width: 100%;
}

.field-block label {
	margin-bottom: 8px;
	font-weight: bold;
}

.field-block .field {
	font-size: 16px;
	padding: 8px 12px;
	line-height: 1.5;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.field-block .field:focus {
  border-color:;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.field-block textarea {
	resize: vertical;
}

.check-text {
	font-size: 14px;
	vertical-align: top;
}

.button {
	cursor: pointer;
	font-size: 16px;
	padding: 6px 12px;
	margin-bottom: 5px;
}

#loader {
	display: none;
}

/*
 ...
FOOTER
.....
*/

footer {
	grid-row: 3/4;
	grid-column: 1/3;
	
	
}

/*icons*/


.social-links ul li {
	list-style-type: none;
	padding: 5px 20px;
	text-decoration: none;

}

.links a i {
	text-align: center;
	width: 40px;
	color: #fff;

}

.links {
	padding: 0;
	display: flex;
	justify-content: center;

}

.links a i:hover {
	background: #fff;
	color: #363636;
	box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 50px 0 0 50px;

	/*	тень*/

}
footer {
border-top: 0.5px solid silver;
	
}

footer p {
	
	font-size: 10px;
	text-align: center;
	padding-bottom: 10px;
}
