body {
	margin: 0px;
	padding: 0px;

	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	background-color: #2b2b2b;
	color: #fff;
	display: grid;
	grid-auto-columns: auto auto auto;
	grid-auto-rows: 800px 400px auto 500px auto auto auto 100px;


}

/*
...
HEADER
...
*/


header h1,
header p {

	margin-bottom: 115px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);

}

header h1 {

	margin-top: 100px;
}

header {
	text-align: center;
	grid-column: 1/4;
	grid-row: 1/2;
	background: no-repeat url(../img/img-header.jpg);
	background-size: 1500px;

}


/*
....
MENU
.....
*/

nav * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	position: fixed;
	z-index: 4;
	width: 100%;
	opacity: 0.8;
	display: flex;
	justify-content: space-between;
}

.nav {
	width: 70%;
	list-style: none;
}

.nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000000;
	color: #fff;
	text-decoration: none;
	font-family: Poppins;
	height: 50px;
}

.nav a:hover {
	background: #212121;
}

.nav ul {
	list-style: none;
	display: flex;
}

.nav ul li {
	position: relative;
	width: 100%;
	text-align: center;
}

.nav li:hover .dropdown1 > li {
	display: block;
	top: 0;
}

.dropdown1 li {
	display: none;
	position: relative;
}

.dropdown1 {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
}


.dropdown1 li:hover {
	display: block;
	top: 0;
}

.logo {
	
	margin: 10px;
}




/*
...
MAIN
...
*/

.main-row {
	padding: 20px;
	grid-column: 1/4;
	grid-row: 2/3;
	display: grid;
	grid-auto-columns: 405px auto 405px;

}

.persona-block {
	grid-column: 2/3;
	background: #363636;

}

.img-left {
	grid-column: 1/2;
	background-image: url(../img/img-l.jpg);
	background-size: 600px;
	background-repeat: no-repeat;
}

.img-right {
	grid-column: 3/4;
	background-image: url(../img/img-r.jpg);
	background-size: 410px;
}


.persona-block h5,
.persona-block h2 {
	text-transform: uppercase;
	text-align: center;
	margin: 5px;

}

.persona-block h5 {
	padding-top: 50px;
}

.persona-block p {
	font-size: 18px;
	text-align: center;
}

/*icons*/


.social-links ul li {
	list-style-type: none;
	padding: 5px 20px;
	text-decoration: none;

}

.links a i {
	text-align: center;
	width: 40px;
	color: #fff;

}

.links {
	padding: 0;
	display: flex;
	justify-content: center;

}

.links a i:hover {
	background: #fff;
	color: #363636;
	box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 50px 0 0 50px;
}


/*
...
PORTFOLIO
...
*/

.portfolio-row {
	margin-top: 30px;
	grid-row: 3/4;
	grid-column: 1/4;
}

.box {
	margin-left: 310px;
}

.title-main {
	text-align: center;
	font-size: 40px;
	opacity: 0.8
}

.portfolio-row hr {
	margin-left: 680px;
}


.portfolio-images .column-1 {

	margin-left: 80px;
}

.portfolio-images .column-2 {
	margin-left: 80px;
}

.img-block {
	padding: 30px;
	display: inline-block;
	position: relative;

}


.img-block h2,
.img-block span {
	color: #fff;
	display: inline-block;
	position: absolute;
	display: none;
	top: 100px;
	left: 55px;

}

.img-block:hover h2,
.img-block:hover span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.portfolio-row h5,
.portfolio-row h2 {
	text-transform: uppercase;
	text-align: center;
	margin: 5px;

}


hr {
	width: 50px;
}


/*
...
REVIEW
...
*/

.review hr {
	align-self: center;
}

.reviews {

	grid-column: 2/3;
	grid-row: 4/5;
	display: flex;

}



.review img {
	display: block;
	margin: 0 auto;
	justify-content: center;
	height: auto;
	width: 100px;

}

.review h1 {
	text-transform: uppercase;
	text-align: center;
	margin: 5px;
}


.review blockquote {
	background: #363636;
	margin: 0;
	color: #fff;
	margin-top: 30px;
	padding: 30px 30px 30px 90px;
	position: relative;

}

.review blockquote:before {
	content: "\201C";
	font-family: serif;
	position: absolute;
	top: 20px;
	left: 16px;
	color: #2b2b2b;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: white;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

.review blockquote:after {
	content: "";
	width: 4px;
	background: white;
	position: absolute;
	left: 70px;
	top: 20px;
	bottom: 20px;
}

.review blockquote p {
	margin-top: 0;
	font-size: 16px;
	font-weight: 300;
}

.review blockquote cite {
	font-size: 20px;
	font-style: normal;
	text-transform: uppercase;
}

/*slide-review*/

#slides {
	display: ;
	position: relative;
	width: 700px;
	list-style-type: none;
}

.slide {
	display: ;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing {
	opacity: 1;
	z-index: 2;
}


.slide {
	font-size: 15px;
	padding: 10px;
	box-sizing: border-box;
	background: background: #363636;
	color: #fff;
}

.slide:nth-of-type(1) {
	background:
		background-size: 100%;
}

.slide:nth-of-type(2) {
	background: ;
}

.slide:nth-of-type(3) {
	background: ;
}

.slide:nth-of-type(4) {
	background: ;
}

.slide:nth-of-type(5) {
	background: ;
}



/*
.....
PRICES
.....
*/


.prices {
	margin-top: 30px;
	grid-column: 1/4;
	grid-row: 5/6;
}


.prices h5,
.prices h2 {
	text-transform: uppercase;
	text-align: center;
	margin: 5px;
}

.price-columns {

	display: flex;
	justify-content: center;
	padding: 10px;
}

.price-column {
	background-color: #363636;
	opacity: 0.9;
	width: 250px;
	height: 100%;
	margin: 50px;
	padding: 0px;
}

.price-columns .col1,
.price-columns .col2,
.price-columns .col3,
.price-columns .col4 {
	position: relative;
}

.col1 .price-img {
	opacity: 0.3;
	background-image: url(../img/img-1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

}

.col1 .text {

	position: relative;
}

.col2 .price-img {
	opacity: 0.3;
	background-image: url(../img/img-2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.col1 .text,
.col2 .text,
.col3 .text,
.col4 .text {

	position: relative;

}


.col3 .price-img {
	opacity: 0.3;
	background-image: url(../img/img-4.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}




.price-column button {
	display: inline-block;
	background-color: #363636;
	color: white;
	margin-bottom: 30px;
	font-weight: 900;
	text-decoration: none;
	user-select: none;
	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 1px;
	transition: 0.2s;
	font-size: 30px;
}

button:hover {

	background-color: #212121;
	color: #2b2b2b;
}

button a {
	
	color: white;
	text-decoration: none;
}


.price-column .text {

	text-align: center;
}

.price-text {


	margin-top: 100px;
	text-align: center;
}

.price-text hr {

	width: 200px;
}

.price-column .text h1 {

	font-size: 60px;
}

/*
...
FOLLOW ME
...
*/

.follow-me {
	grid-row: 6/7;
	grid-column: 1/4;
}

.follow-me h5,
.follow-me h2 {
	text-transform: uppercase;
	text-align: center;
	margin: 5px;
}


.follow-me .container {

	display: flex;
}


.follow-me button {
	height: 50px;
	background-color: #888;
	color: #fff;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-decoration: none;

}

.follow-me a {
	text-decoration: none;

}
.follow-me button:hover {
	
	background: #2b2b2b;
}

.thing img {
	padding: 0px;
	margin: 0px;
}


/*slaider 

!!!!!!! прописала стили в index
*/



/*
....
ARTICLES
........
*/

.articles {
	margin-top: 50px;
	grid-column: 1/4;
	grid-row: 7/8;
}

.articles h5,
.articles h2 {
	text-transform: uppercase;
	text-align: center;
	margin: 5px;
}

.col2 img,
.col1 img {

	width: 100%;
}



.articles-columns {

	color: #fff;
	display: flex;
	justify-content: center;
	font-size: 20px;
	opacity: ;

}

.article-column {
	background-color: #d2d2d2;
	margin: 30px;
	width: 400px;
	padding: 30px;
}



/*
....
FOOTER
.....
*/

footer {
	border-top: 0.5px solid silver;
	grid-row: 8/9;
	grid-column: 1/4;

}




footer p {

	font-size: 10px;
	text-align: center;
	padding-bottom: 10px;
}
